In [ ]:
a = 1

In [ ]:
a

In [ ]:
print(a)

In [ ]:
x

In [ ]:
x = 100

In [ ]:
y = 1000

In [ ]:
y

In [ ]:
y = 1000

In [ ]:
y

In [ ]:
for i in range(0, 10000):
    print(i)

In [3]:
with open('./staff.txt', 'r', encoding='utf-8') as f:
    dataStr = f.read()

In [4]:
dataStr

'| ID  |  Name | DeptId| Age | Gender | Salary |\n| --- |  ---  |  ---  | --- |  ---   | ------ |\n| 001 | Mike  | 002   | 45  |   M    | 60000  |\n| 002 | Judy  | 002   | 30  |   F    | 48000  |\n| 003 | Allen | 001   | 22  |   M    | 50000  |\n| 004 | Tom   | 002   | 47  |   M    | 47000  |\n| 005 | Jack  | 003   | 36  |   M    | 52000  |\n| 006 | Abby  | 002   | 24  |   F    | 45000  |\n| 007 | Trump | 001   | 80  |   M    | 80000  |\n| 008 | Marry | 003   | 29  |   F    | 87000  |'

In [5]:
print(dataStr)

| ID  |  Name | DeptId| Age | Gender | Salary |
| --- |  ---  |  ---  | --- |  ---   | ------ |
| 001 | Mike  | 002   | 45  |   M    | 60000  |
| 002 | Judy  | 002   | 30  |   F    | 48000  |
| 003 | Allen | 001   | 22  |   M    | 50000  |
| 004 | Tom   | 002   | 47  |   M    | 47000  |
| 005 | Jack  | 003   | 36  |   M    | 52000  |
| 006 | Abby  | 002   | 24  |   F    | 45000  |
| 007 | Trump | 001   | 80  |   M    | 80000  |
| 008 | Marry | 003   | 29  |   F    | 87000  |

In [6]:
column = dataStr.split('\n')
column

['| ID  |  Name | DeptId| Age | Gender | Salary |',
 '| --- |  ---  |  ---  | --- |  ---   | ------ |',
 '| 001 | Mike  | 002   | 45  |   M    | 60000  |',
 '| 002 | Judy  | 002   | 30  |   F    | 48000  |',
 '| 003 | Allen | 001   | 22  |   M    | 50000  |',
 '| 004 | Tom   | 002   | 47  |   M    | 47000  |',
 '| 005 | Jack  | 003   | 36  |   M    | 52000  |',
 '| 006 | Abby  | 002   | 24  |   F    | 45000  |',
 '| 007 | Trump | 001   | 80  |   M    | 80000  |',
 '| 008 | Marry | 003   | 29  |   F    | 87000  |']

In [7]:
column = dataStr.split('\n')[0]
column

'| ID  |  Name | DeptId| Age | Gender | Salary |'

In [8]:
column = dataStr.split('\n')[0].replace(' ', '')
column

'|ID|Name|DeptId|Age|Gender|Salary|'

In [9]:
column = dataStr.split('\n')[0].replace(' ', '').split('|')
column

['', 'ID', 'Name', 'DeptId', 'Age', 'Gender', 'Salary', '']

In [10]:
column = dataStr.split('\n')[0].replace(' ', '').split('|')[1:-1]
column

['ID', 'Name', 'DeptId', 'Age', 'Gender', 'Salary']

In [12]:
dataStr.split('\n')[2:]

['| 001 | Mike  | 002   | 45  |   M    | 60000  |',
 '| 002 | Judy  | 002   | 30  |   F    | 48000  |',
 '| 003 | Allen | 001   | 22  |   M    | 50000  |',
 '| 004 | Tom   | 002   | 47  |   M    | 47000  |',
 '| 005 | Jack  | 003   | 36  |   M    | 52000  |',
 '| 006 | Abby  | 002   | 24  |   F    | 45000  |',
 '| 007 | Trump | 001   | 80  |   M    | 80000  |',
 '| 008 | Marry | 003   | 29  |   F    | 87000  |']

In [16]:
allStaff = [e.replace(' ', '').split('|')[1:-1] for e in dataStr.split('\n')[2:]]
allStaff

[['001', 'Mike', '002', '45', 'M', '60000'],
 ['002', 'Judy', '002', '30', 'F', '48000'],
 ['003', 'Allen', '001', '22', 'M', '50000'],
 ['004', 'Tom', '002', '47', 'M', '47000'],
 ['005', 'Jack', '003', '36', 'M', '52000'],
 ['006', 'Abby', '002', '24', 'F', '45000'],
 ['007', 'Trump', '001', '80', 'M', '80000'],
 ['008', 'Marry', '003', '29', 'F', '87000']]

In [17]:
{staff[0]: {column[col]: info for col, info in enumerate(staff)} for staff in allStaff}

{'001': {'ID': '001',
  'Name': 'Mike',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '60000'},
 '002': {'ID': '002',
  'Name': 'Judy',
  'DeptId': '002',
  'Age': '30',
  'Gender': 'F',
  'Salary': '48000'},
 '003': {'ID': '003',
  'Name': 'Allen',
  'DeptId': '001',
  'Age': '22',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'Tom',
  'DeptId': '002',
  'Age': '47',
  'Gender': 'M',
  'Salary': '47000'},
 '005': {'ID': '005',
  'Name': 'Jack',
  'DeptId': '003',
  'Age': '36',
  'Gender': 'M',
  'Salary': '52000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '002',
  'Age': '24',
  'Gender': 'F',
  'Salary': '45000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '001',
  'Age': '80',
  'Gender': 'M',
  'Salary': '80000'},
 '008': {'ID': '008',
  'Name': 'Marry',
  'DeptId': '003',
  'Age': '29',
  'Gender': 'F',
  'Salary': '87000'}}

In [18]:
tmpList = ['a', 'b', 'c']
for n, i in enumerate(tmpList):
    print(n, i)

0 a
1 b
2 c

In [19]:
['aa', 'bb', 'cc']

['aa', 'bb', 'cc']

In [20]:
newList = []
for i in tmpList:
    newList.append(i * 2)
newList

['aa', 'bb', 'cc']

In [21]:
[i * 2 for i in tmpList]

['aa', 'bb', 'cc']