In [2]:
dataStr='| ID  |  Name | DeptId| Age | Gender | Salary |\n| --- |  ---  |  ---  | --- |  ---   | ------ |\n| 001 | Mike  | 002   | 45  |   M    | 60000  |\n| 002 | Judy  | 002   | 30  |   F    | 48000  |\n| 003 | Allen | 001   | 22  |   M    | 50000  |\n| 004 | Tom   | 002   | 47  |   M    | 47000  |\n| 005 | Jack  | 003   | 36  |   M    | 52000  |\n| 006 | Abby  | 002   | 24  |   F    | 45000  |\n| 007 | Trump | 001   | 80  |   M    | 80000  |\n| 008 | Marry | 003   | 29  |   F    | 87000  |'

In [3]:
print(dataStr)

| ID  |  Name | DeptId| Age | Gender | Salary |
| --- |  ---  |  ---  | --- |  ---   | ------ |
| 001 | Mike  | 002   | 45  |   M    | 60000  |
| 002 | Judy  | 002   | 30  |   F    | 48000  |
| 003 | Allen | 001   | 22  |   M    | 50000  |
| 004 | Tom   | 002   | 47  |   M    | 47000  |
| 005 | Jack  | 003   | 36  |   M    | 52000  |
| 006 | Abby  | 002   | 24  |   F    | 45000  |
| 007 | Trump | 001   | 80  |   M    | 80000  |
| 008 | Marry | 003   | 29  |   F    | 87000  |

In [4]:
column = dataStr.split('\n')
column

['| ID  |  Name | DeptId| Age | Gender | Salary |',
 '| --- |  ---  |  ---  | --- |  ---   | ------ |',
 '| 001 | Mike  | 002   | 45  |   M    | 60000  |',
 '| 002 | Judy  | 002   | 30  |   F    | 48000  |',
 '| 003 | Allen | 001   | 22  |   M    | 50000  |',
 '| 004 | Tom   | 002   | 47  |   M    | 47000  |',
 '| 005 | Jack  | 003   | 36  |   M    | 52000  |',
 '| 006 | Abby  | 002   | 24  |   F    | 45000  |',
 '| 007 | Trump | 001   | 80  |   M    | 80000  |',
 '| 008 | Marry | 003   | 29  |   F    | 87000  |']

In [5]:
column = dataStr.split('\n')[0]
column

'| ID  |  Name | DeptId| Age | Gender | Salary |'

In [6]:
column= dataStr.split('\n')[0].replace(' ','')
column

'|ID|Name|DeptId|Age|Gender|Salary|'

In [7]:
column= dataStr.split('\n')[0].replace(' ','').split('|')
column

['', 'ID', 'Name', 'DeptId', 'Age', 'Gender', 'Salary', '']

In [8]:
column= dataStr.split('\n')[0].replace(' ','').split('|')[1:-1]
column

['ID', 'Name', 'DeptId', 'Age', 'Gender', 'Salary']

In [9]:
dataStr.split('\n')[2:]

['| 001 | Mike  | 002   | 45  |   M    | 60000  |',
 '| 002 | Judy  | 002   | 30  |   F    | 48000  |',
 '| 003 | Allen | 001   | 22  |   M    | 50000  |',
 '| 004 | Tom   | 002   | 47  |   M    | 47000  |',
 '| 005 | Jack  | 003   | 36  |   M    | 52000  |',
 '| 006 | Abby  | 002   | 24  |   F    | 45000  |',
 '| 007 | Trump | 001   | 80  |   M    | 80000  |',
 '| 008 | Marry | 003   | 29  |   F    | 87000  |']

In [10]:
[e for e in dataStr.split('\n')[2:]]

['| 001 | Mike  | 002   | 45  |   M    | 60000  |',
 '| 002 | Judy  | 002   | 30  |   F    | 48000  |',
 '| 003 | Allen | 001   | 22  |   M    | 50000  |',
 '| 004 | Tom   | 002   | 47  |   M    | 47000  |',
 '| 005 | Jack  | 003   | 36  |   M    | 52000  |',
 '| 006 | Abby  | 002   | 24  |   F    | 45000  |',
 '| 007 | Trump | 001   | 80  |   M    | 80000  |',
 '| 008 | Marry | 003   | 29  |   F    | 87000  |']

In [11]:
[e.replace(' ','') for e in dataStr.split('\n')[2:]]

['|001|Mike|002|45|M|60000|',
 '|002|Judy|002|30|F|48000|',
 '|003|Allen|001|22|M|50000|',
 '|004|Tom|002|47|M|47000|',
 '|005|Jack|003|36|M|52000|',
 '|006|Abby|002|24|F|45000|',
 '|007|Trump|001|80|M|80000|',
 '|008|Marry|003|29|F|87000|']

In [12]:
allstaff = [e.replace(' ','').split('|') for e in dataStr.split('\n')[2:]]
allstaff

[['', '001', 'Mike', '002', '45', 'M', '60000', ''],
 ['', '002', 'Judy', '002', '30', 'F', '48000', ''],
 ['', '003', 'Allen', '001', '22', 'M', '50000', ''],
 ['', '004', 'Tom', '002', '47', 'M', '47000', ''],
 ['', '005', 'Jack', '003', '36', 'M', '52000', ''],
 ['', '006', 'Abby', '002', '24', 'F', '45000', ''],
 ['', '007', 'Trump', '001', '80', 'M', '80000', ''],
 ['', '008', 'Marry', '003', '29', 'F', '87000', '']]

In [15]:
allstaff = [e.replace(' ','').split('|')[1:-1] for e in dataStr.split('\n')[2:]]
allstaff

[['001', 'Mike', '002', '45', 'M', '60000'],
 ['002', 'Judy', '002', '30', 'F', '48000'],
 ['003', 'Allen', '001', '22', 'M', '50000'],
 ['004', 'Tom', '002', '47', 'M', '47000'],
 ['005', 'Jack', '003', '36', 'M', '52000'],
 ['006', 'Abby', '002', '24', 'F', '45000'],
 ['007', 'Trump', '001', '80', 'M', '80000'],
 ['008', 'Marry', '003', '29', 'F', '87000']]

In [21]:
{staff[0]:staff for staff in allstaff}

{'001': ['001', 'Mike', '002', '45', 'M', '60000'],
 '002': ['002', 'Judy', '002', '30', 'F', '48000'],
 '003': ['003', 'Allen', '001', '22', 'M', '50000'],
 '004': ['004', 'Tom', '002', '47', 'M', '47000'],
 '005': ['005', 'Jack', '003', '36', 'M', '52000'],
 '006': ['006', 'Abby', '002', '24', 'F', '45000'],
 '007': ['007', 'Trump', '001', '80', 'M', '80000'],
 '008': ['008', 'Marry', '003', '29', 'F', '87000']}

In [22]:
{staff[0]:{col:info for col,info in enumerate(staff)} for staff in allstaff}

{'001': {0: '001', 1: 'Mike', 2: '002', 3: '45', 4: 'M', 5: '60000'},
 '002': {0: '002', 1: 'Judy', 2: '002', 3: '30', 4: 'F', 5: '48000'},
 '003': {0: '003', 1: 'Allen', 2: '001', 3: '22', 4: 'M', 5: '50000'},
 '004': {0: '004', 1: 'Tom', 2: '002', 3: '47', 4: 'M', 5: '47000'},
 '005': {0: '005', 1: 'Jack', 2: '003', 3: '36', 4: 'M', 5: '52000'},
 '006': {0: '006', 1: 'Abby', 2: '002', 3: '24', 4: 'F', 5: '45000'},
 '007': {0: '007', 1: 'Trump', 2: '001', 3: '80', 4: 'M', 5: '80000'},
 '008': {0: '008', 1: 'Marry', 2: '003', 3: '29', 4: 'F', 5: '87000'}}

In [20]:
{staff[0]:{column[col]:info for col,info in enumerate(staff)} for staff in allstaff}

{'001': {'ID': '001',
  'Name': 'Mike',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '60000'},
 '002': {'ID': '002',
  'Name': 'Judy',
  'DeptId': '002',
  'Age': '30',
  'Gender': 'F',
  'Salary': '48000'},
 '003': {'ID': '003',
  'Name': 'Allen',
  'DeptId': '001',
  'Age': '22',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'Tom',
  'DeptId': '002',
  'Age': '47',
  'Gender': 'M',
  'Salary': '47000'},
 '005': {'ID': '005',
  'Name': 'Jack',
  'DeptId': '003',
  'Age': '36',
  'Gender': 'M',
  'Salary': '52000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '002',
  'Age': '24',
  'Gender': 'F',
  'Salary': '45000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '001',
  'Age': '80',
  'Gender': 'M',
  'Salary': '80000'},
 '008': {'ID': '008',
  'Name': 'Marry',
  'DeptId': '003',
  'Age': '29',
  'Gender': 'F',
  'Salary': '87000'}}